<link rel="stylesheet" type="text/css" href="<%= url("css/post.css") %>" />
<div class="blogpost">
    <div class="blogcontent">
        <%= @post.post %>
        <div class="call-to-action">
            Want more? Subscribe via <a href="https://sdubinsky.com/blog/rss">RSS</a>.  Otherwise, happy coding!
        </div>
    </div>
    <div class="blog-comments">
        <h3>Comments</h3>
        <% @post.comments.each do |comment| %>
            <div class="comment">
                <div class="comment-title">
                    <%= comment.title %>
                </div>
                <div class="comment-username">
                    - <%= comment.username %>
                </div>
                <div class="comment-body">
                    <%= comment.text %>
                </div>
            </div>
        <% end %>
    </div>
</div>
