<link rel="stylesheet" type="text/css" href="<%= url("css/post.css") %>" />
<div class="blogpost">
    <div class="blogcontent">
        <%= @post.post %>
    </div>
    <div class="blog-comments">
        <h3>Comments</h3>
        <% @post.comments.each do |comment| %>
            <div class="comment">
                <div class="comment-title">
                    <%= comment.title %>
                </div>
                <div class="comment-username">
                    - <%= comment.username %>
                </div>
                <div class="comment-body">
                    <%= comment.text %>
                </div>
            </div>
        <% end %>
        <div class="comment-form-div">
            <div class="comment-prompt">
                leave a comment
            </div>
            <form class="comment-form" action="/submit-comment" method="POST">
                <label for="comment-form-title">Title</label>
                <input type="text" id="comment-form-title" name="comment-form-title" required>
                <label for="comment-form-username">Author</label>
                <input type="text" id="comment-form-username" name="comment-form-username" required>
                <label for="comment-form-body">Body</label>
                <textarea id="comment-form-body" name="comment-form-body" rows="6" required>Be nice!</textarea>
                <input type="text" value="<%=@post.id %>" hidden name="post-id">
                <input type="Submit" value="Submit" class="submit-btn">
                </form>
            </form>
        </div>
    </div>
</div>
