<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Shalom's Blog</title>
        <link>https://sdubinsky.com/blog</link>
        <description>Personal blog of Shalom Dubinsky</description>
        <language>en</language>
        <% @posts.each do |post| %>
            <item>
                <title>
                    <%= ERB::Util.html_escape(post.title.split.map{|a| a.capitalize}.join(" ")) %>
                </title>
                <description type="html">
                    <%= ERB::Util.html_escape( post.snippet)  %>
                </description>
                <content type="html">
                    <%= ERB::Util.html_escape(post.post.split("</h1>")[1]) %>
                </content>
                <updated>
                    <%= Time.strptime(post.timestamp.to_s, "%s").strftime("%Y-%m-%dT%H:%M:%S%z") %>
                </updated>
                <pubDate>
                    <%= Time.strptime(post.timestamp.to_s, "%s").strftime("%A, %d %b %Y %H:%M:%S %z") %>
                </pubDate>
                <author>
                    Shalom Dubinsky
                </author>
                <guid>
                    https://sdubinsky.com/blog/<%=post.id %>
                </guid>
                <link>
                https://sdubinsky.com/blog/<%= post.id %>
                </link>
            </item>
        <% end %>
    </channel>
</rss>
